<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul class="list-group">
        <li class="list-group-item ">
            <a>No </a> : <a> {{ data.no }} </a>
        </li>
        <li class="list-group-item ">
            <a>ppm CH4 </a> : <a> {{ data.ppm_ch4 }} </a>
        </li>
        <li class="list-group-item ">
            <a>ppm C2H4 </a> : <a> {{ data.ppm_c2h4 }} </a>
        </li>
        <li class="list-group-item ">
            <a>ppm C2H2 </a> : <a> {{ data.ppm_c2h2 }} </a>
        </li>
        <li class="list-group-item ">
            <a>%CH4 </a> : <a> {{ data.persen_ch4 }} </a>
        </li>
        <li class="list-group-item ">
            <a>%C2H4 </a> : <a> {{ data.persen_c2h4 }} </a>
        </li>
        <li class="list-group-item ">
            <a>%C2H2 </a> : <a> {{ data.persen_c2h2 }} </a>
        </li>
        <li class="list-group-item ">
            <a>Fault </a> : <a> {{ data.fault }} </a>
        </li>
    </ul>
</body>
</html>